<div class="container w-50 d-flex justify-content-center" >
<%= form_with model: @current_event do |f| %>
  
  <%= f.label "date début" %>
  <%= f.date_select :start_date %>
  <br /> <br />
  <%= f.label "Durée" %>
  <%= f.text_field :duration %>
  <br /> <br />
  <%= f.label 'Titre' %>
  <%= f.text_field :title %>
  <br /> <br />
  <%= f.label 'Description' %>
  <%= f.text_field :description %>
  <br /> <br />
  <%= f.label 'Prix' %>
  <%= f.text_field :price %>
  <br /> <br />
  <%= f.label 'Ville' %>
  <%= f.text_field :location %>
  <br /> <br />
  <br /> <br />
  <%= f.submit "Modifier l'évenement" %>
  <%end%>
</div>